<article class="w-full max-w-md flex flex-col items-center rounded-md bg-[#fcf6b0] p-2">
  <h2 class="meal-title text-center font-bold">
    <span class="underline"><%= meal.name %></span>
    &ndash;
    <%= number_to_currency meal.total_cost %>
  </h2>

  <ul class="meal-details w-full max-h-0 overflow-hidden transition-all duration-500 ease-in-out">
    <% for component in meal.recipe do %>
      <%= render "component_line", component: %>
    <% end %>
  </ul>
</article>
