<div class="flex flex-col items-center gap-2">
  <h1>Tommo n Diana's Meal Planner!</h1>

  <% @meals.each do |meal| %>
    <%= render "meal_card", meal: %>
  <% end %>
</div>

<%= javascript_include_tag 'meals.js' %>
<%= javascript_include_tag 'ingredient_edit_form.js' %>

<%# yellow - 252, 246, 177 #fcf6b0
blue - 136, 182, 182 #87b5b5
red - 208, 157, 112 #d09d70 %>
